@font-face {
    font-family: Kaushan;
    src: url('../font/kaushanscript-regular-webfont.woff2') format('woff2'),
        url('../font/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alura';
    src: url('../font/allura-regular-webfont.woff2') format('woff2'),
         url('../font/allura-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Dancing';
    src: url('../font/dancingscript-regular-webfont.woff2') format('woff2'),
         url('../font/dancingscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root{
    --light: #DEF5E5;
    --medium: #BCEAD5;
    --dark: #9ED5C5;
    --darker: #8EC3B0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body{
    font-family: Poppins, sans-serif;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 7%;
    background-color: #BCEAD5;
    border-bottom: 1px solid var(--darker);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.navbar .logo span{
    color: darkgreen;
}
.navigasi a{
    margin: 0 1.4rem;
    color: white;
    display: inline-block;
}
.navbar .beli ion-icon {
    font-size: 2.3rem;
  }
.navbar h1{
    z-index: 3;
}
.navbar .toptittle{
    position: absolute;
    text-align: center;
}
.navbar .logo,.navinshop .logo{
    font-family: Alura;
    font-size: 2.4rem;
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 5px var(--light),-1px -1px 3px var(--light);
}
.navigasi a{
    margin: 0 1.4rem;
    color: white;
    display: inline-block;
    font-size: 1.05rem;
}
.navigasi a:hover{
    color: var(--darker);
}
.navigasi a:hover::after,.navshop a:hover::after{
    transform: scaleX(0.5);
}
.navigasi a::after,.navshop a::after{
    display: block;
    content: '';
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--darker);
    transform: scaleX(0);
    transition: 0.5s;
}
.navshop a.back{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}
.beli a{
    color: white;
    margin: 0 0.5rem;
}
.beli a img{
    height: 2.3rem;
}
.beli a:hover{
    color: var(--darker);
    margin: 0 0.5rem;
}
#home{
    color: var(--darker);
}
.search-bar{
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid black;
    width: 30rem;
    height: 3rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.2s;
}
.search-bar.active{
    transform: scaleY(1);
}
.search-bar input#search-form{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: gray;
    padding: 1rem;
}
.search-bar input#search-form::placeholder{
    color: rgb(176, 176, 176);
}
.search-bar label{
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color:gray;
}
.hero{
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
}
.hero .cto{
    width: 60%;
}
.hero .main{
    width: 70%;
    position: relative;
    padding: 0 2.3rem;
}
.hero .main h1{
    font-size: 3.4rem;
    color: darkgreen;
    text-shadow: -1px 1px 8px var(--darker);
}
.hero .media h2{
    font-size: 1.6rem;
}
.hero .main p{
    font-size: 1.2rem;
    color: var(--darker);
}
.hero .gambar{
    width: 6rem;
    height: 6rem;
}
.hero .img{
    background-image: url(../img//Bg/rendang.jpg);
    width: 40%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: linear-gradient(to left,rgba(0,0,0,1) 84%,rgba(0,0,0,0));
}
.hero .media ion-icon{
    font-size: 2rem;
}
.hero .media{
    margin-top: 1rem;
    text-shadow: -1px 1px 8px var(--darker);
}
.media a{
    color: var(--darker);
    margin: 1rem 1rem;
    display: inline-block;
}
.hero .cto .about{
    color: white;
    display: inline-block;
    background-color: var(--dark);
    padding: 1rem 2rem;
    margin-top: 0.5rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
}
.cto .about:hover{
    background-color: var(--darker);
}
.media a:hover{
    color: seagreen;
}
/* Media Queries */
@media(max-width:1747px){
    
}
@media(max-width:1590px){
    html{
        font-size: 80%;
    }
}
@media(max-width:1450px){
    
}
@media(max-width:1370px){
    html{
        font-size: 75%;
    }
}
@media(max-width: 1185px) {
    html{
        font-size: 70%;
    }
}
@media(max-width: 1111px) {
    html{
        font-size: 65%;
    }
}
@media(max-width:1020px){
    html{
        font-size: 62%;
    }
}
@media(max-width:980px){
    html{
        font-size: 60%;
    }
}
@media(max-width:500px){
    html{
        font-size: 58%;
    }
}